/* Sidebar.css */
.sidebar {
    width: 250px;
    padding: 16px;
    background-color:#91a7c2;
    color: #97a1bf; 
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 0;
  }
  
  .sidebar-button {
    font-size: 18px;
    font-weight: bold;
    border-width: 1px;
    border-color: transparent;
    background-color: #007bff;
    color: #000;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
    display: block;
  }
  
  .sidebar-button:hover {
    background-color: #7088af; 
  }
  
  .sidebar-button.active {
    border-width: 2px;
    border-color: #007bff; 
    background-color: #cce5ff; /* Light blue background */
  }
  
  .sidebar-button.active:hover {
    background-color: #b3d7ff; /* Slightly darker blue on hover */
  }
  